{% for entries in rules['route_map'] %}
route-map {{ entries['route_map_id'] }} {{ entries['action'] }} {{ entries['sequence_id'] }}
 match ip address prefix-list {{ entries['prefix_list_id'] }}
{% endfor %}